//// CREATE A COPY AND NAME IT .env.local (this is a frontend one for cypress testing)
//// DO NOT REMOVE THIS EXAMPLE ONE. ITS FOR FUTURE DEVELOPERS TOO.
//// Remove placeholders and add your own values in the .env.local version

// Add a Cypress id and key
CYPRESS_PROJECT_ID=cypress id here
CYPRESS_RECORD_KEY=add your record key here

// Add one of our admin email credentials (from database)
ADMIN_EMAIL='admin email here'
ADMIN_PASSWORD='admin pw here'

// Add user email and pw credentials (from database)
TEST_USER_EMAIL=user email here
TEST_USER_PASSWORD=user pw here
