// this file contain example of how env file should look like
MONGODB_URI=mongodb connection string
PORT=port number you want your backend to listen on
JWT_SECRET=jwt secret token that we will use for the application in case we are using JWT tokens for session tracking